<style>
	html {
		line-height: 1.5;
		font-size: 20px;
	}

	body {
		padding-top: 30px;
	}

	.title {
		margin-top: 0;
		font-size: 2em;
	}

	header {
		margin-bottom: 1em;
	}

	h1 {
		font-size: 1.4em;
		color: DarkSlateBlue;
	}



	a {
		color: #4F6F6F;
	}

	a:hover {
		background-color: AliceBlue;
	}



	dt {
		font-size: 0.79em;
		color: #0F2F2F;
	}

	dd {
		margin-left: 8px;
		font-size: 0.95em;
	}

	dd p {
		margin-top: 0;
		margin-bottom: 1.4em;
	}
</style>
